@media all and (max-width: 1000px) {
    .more {
        width: 50%;
        margin-bottom: 50px;
    }
    
}

@media all and (max-width: 670px) {
    .more {
        width: 100%;
    }
    footer {
        text-align: center;
    }
}
